/* Layout
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*********** CLEAR FIX ***********/
.group:before,
.group:after {
    content: "";
    display: table;
    }
.group:after {
    clear: both;
    }
.group {
    *zoom: 1;
    }
/*********** CLEAR FIX ***********/

html {
}

body {
  background-color: #fff;
  color: #666;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  width: 90%;
}

/* Header
-------------------------------------------------------------- */
header {
  background-color: #7dcf5c;
  overflow: hidden;
  text-align: center;
}

.intro {
  margin: 4rem 0;
}

/* Section
-------------------------------------------------------------- */
section {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 4rem 0;
}

section:first-of-type {
  border-top: none;
}

section.resources {
  text-align: left:
}

.example {
  border-top: none;
  background: #ec6f66;
  color: #fff;
}

.example p {
  color: rgba(255,255,255,0.7);
}

.example img {
  margin: 0;
}

/* Grid
-------------------------------------------------------------- */
.column {
  float: left;
  margin-left: 5%;
}

.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.two-thirds {
  width: 65%;
}

.column.half {
  width: 47.5%;
}

.column.one-third {
  width: 30%;
}

.column.one-fourth {
  width: 21.25%;
}


/* Elements
-------------------------------------------------------------- */
img {
  display: block;
  height: auto;
  margin: 0 auto 1.5rem auto;
  width: 100%;
}


/* Grid
-------------------------------------------------------------- */
.grid {
  text-align: center;
}

.grid span {
  font-size: 0.9em;
  font-weight: 600;
}

.grid .container {
  border: 2px dashed rgba(255,255,255,0.3);
  padding: 2em;
}

.row {
  overflow: hidden;
  margin-bottom: 20px;
}

.grid .row:first-child {
  margin-top: 0;
}

.grid .column {
  border: 2px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: rgba(225,255,255,0.1);
  padding: 1.5em;
}

/* Grid Mobile
-------------------------------------------------------------- */
.mobile-background {
  background-image: url("/images/grid/mobile.png");
  background-size: 286px 600px;
  width: 286px;
  height: 600px;
  margin: 0 auto;
}

.container.mobile {
  border: none;
  max-width: 320px;
  padding: 106px 24px 0;
}

.container.mobile .row {
  margin: 0;
}

.container.mobile .column {
  margin: 0 0 18px 0;
  padding: 16.5px;
  width: 100%;
}

/*  #Clearfix by Nicolas Gallagher
-------------------------------------------------------------- */
.container:before,
.container:after,
.row:before,
.row:after,
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.container:after,
.row-example:after,
.cf:after {
  clear: both;
}

.container,
.row-example,
.cf {
  *zoom: 1;
}

/* Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: 640px) {
  html { font-size: 100%; }
  section { padding: 2rem 0; }
  hr { margin: 2rem auto; }
  .intro { margin: 2rem 0; }
  .fragmentation { min-height: 250px; }

  .column.full,
  .column.two-thirds,
  .column.half,
  .column.one-third,
  .column.one-fourth {
    float: none;
    margin: 2em 0 0 0;
    width: 100%;
  }

  .column:first-child { margin-top: 0; }
  .container.mobile .column { padding: 18px; }
}
