/*Blue: #37bcc7
Green: #7dcf5c
Darker Green: #6fba3f
Dark Grey: #818285
Light Grey: #e6e6e6
Dark Blue: #172844*/

.rentcard {
min-height: 90px;
background-color: #f4f4f4;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-left: 5px solid #7dcf5c;
}

/*.rentcard:hover {
box-shadow: 0 0 3px rgba(200,200,200,.5)
}*/

.rentcard_left {
  float: left;
  width: 90px;
  min-height: 90px;
  background-color: #eee;
}

.rentcard_left h6 {
  text-align: center;
  padding-top: 5px;
}

.rentcard_right {
  float: left;
  width: 80%;
  background-color: 
}

.rentcard h5 {
  text-transform: uppercase;
  color: #7dcf5c;
}

.rentcard p {
  padding-top: 4px;
  font-size: 15px;
  letter-spacing: .5px;
  font-weight: 300;
  color: #888;
}

.rentcard_right ul {
  list-style: none;
  padding-left: 20px;
}

.rentcard_right ul li {
  list-style: none;
}

