/* Typography
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, p {
  font-weight: 600;
  margin: 0;
  text-align: left;
  font-family: "Gotham"
}

h1 {
  font-size: 50px;
  font-weight: 100;
}

h2 {
  font-size: 35px;
  font-weight: 500;
}

h3 {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #37bcc7;
  text-transform: uppercase;
}

h4 {
  font-size: 25px;
  font-weight: 100;
}

h5 {
  font-size: 16px;
  letter-spacing: .75px;
}

h6 {
  font-size: 9px;
  text-transform: uppercase;
  color: #7dcf5c;
  letter-spacing: 1px;
}

p {
  margin: 0 auto;
  font-weight: 200;
}

/* Links
-------------------------------------------------------------- */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}